nav{
    background-color: #263238;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding-top: 18px !important;
    padding-bottom: 10px !important;
}
nav a{
    color: rgba(255,255,255,.55) !important;
    font-size: 20px;
    transition: all .3s ease-in-out;
    margin-right: 10px;
}
nav a:hover{
    color: rgba(255,255,255,.75) !important;
    font-weight: bold;
}
nav .btn{
    color: #fff !important;
    background-color: #61a22e !important;
    border: 1px solid #74C633 !important;
    margin-right: 10px;
    transition: all .3s ease-in-out;
    width: fit-content;
}
nav .btn:hover{
    color: #61a22e !important;
    background-color: #fff !important;
    font-weight: bold;
}