footer{
    background-color: #000;
    color: #fff;
}
footer a{
    color: #74C633;
    transition: all .3s ease-in-out;
    display: inline-block;
    margin-top: 22px;
}
footer .one {
    font-size: 19px;
}
footer a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}